h2 { 
    font-size: 1.33em;
}

.card {
    cursor: pointer;
    width: 320px;
}

.gym-background-pic{
    height: 300px;
    fit: cover; 
}

@media (max-width: 900px) {
  .gym-background-pic {
    height: 200px; 
  }
}

@media (max-width: 576px) {
  .gym-background-pic {
    height: 100px; 
  }
}

.footer{
  border-radius: 4px;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p{
  padding-left: 20px;
}

