h2 { 
    font-size: 1.33em;
}

.card {
    cursor: pointer;
}

.gym-background-pic{
    height: 300px;
    fit: cover; 
}

@media (max-width: 900px) {
  .gym-background-pic {
    height: 200px; 
  }
}

@media (max-width: 576px) {
  .gym-background-pic {
    height: 100px; 
  }
}

